<h1>Create new dose</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient%>
        <%= f.input :description%>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
